        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
        }
        
        body {
            background: #fff;
        }
        
        html {
            color: black;
        }
        
        .container {
            background: rgba(85, 85, 82, 0.941);
            margin: 2%;
            border-bottom: 2px solid black;
            width: 50%;
        }
        
        .header {
            background-color: black;
            color: #fff;
            text-align: center;
            margin-bottom: 2.5rem;
        }
        
        h2 {
            text-align: center;
        }
        
        .wrapper_text .input {
            margin: 0.8rem;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        
        .input .input__box {
            display: block;
            align-items: center;
            justify-content: center;
            position: relative;
            left: 35%;
            margin: 0.8rem;
        }
        
        .wrapper_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
        }
        
        .btn {
            width: 40%;
            height: 50px;
            margin: 1rem;
            cursor: pointer;
        }
        
        .btn :hover {
            background-color: grey;
        }
        /*media quires */
        
        @media(min-width:600px) {
            .input .input__box {
                display: block;
                align-items: center;
                justify-content: center;
                position: relative;
                left: 290px;
                margin: 0.8rem;
            }
        }